<div class="container"> 
  <ul class="shai">
    <li (click)="open('hangye');">{{str1}}<span class="jiao"></span></li>
    <li (click)="open('recommend');">{{str2}}<span class="jiao"></span></li>
    <li (click)="open('owner');">{{str3}}<span class="jiao"></span></li>
  </ul>
  <div class="list">
    <p class="tishi" *ngIf="tishi">暂时还没有相关项目</p>
    <div class="item" *ngFor="let list of lists"  [routerLink] = "['/listdetail', list.url]"  >
      <img [src]="list.img_url" width="140" height="90" class="fl">
      <div class="wen">
          <div class="jixin">
            <p class="title">{{list.title}}</p>
            <p class="author">{{list.author}}</p>
          </div>
          <div class="di">
            <p class="count fl"><span></span>{{list.count}}</p>
            <p class="fr">{{list.class}}</p>
          </div>
      </div>
    </div>
  </div>
  <nav class="hangye">
      <div class="nav_title">
          <span class="fr" (click)="close('hangye')"></span>
          <span class="title">{{str1}}</span>
      </div>
      <ul>
          <li *ngFor="let nav of navs" data-value={{nav.id}} [ngClass]="{active: nav.active}" >
            <span (click)="link(nav.title,nav.id,'hangye',1)">{{nav.title}}</span>
            <ul>
              <li *ngFor="let subnav of nav.subnavs" [ngClass]="{active: subnav.active}" data-value={{subnav.id}} (click)="link(subnav.title,subnav.id,'hangye',1)">{{subnav.title}}</li>
            </ul>
          </li>
      </ul>
  </nav>
  <nav class="recommend">
      <div class="nav_title">
          <span class="fr" (click)="close('recommend')"></span>
          <span class="title">{{str2}}</span>
      </div>
      <ul>
          <li *ngFor="let recommend of recommends" data-value={{recommend.id}} [ngClass]="{active: recommend.active}" >
            {{recommend.title}}
          </li>
      </ul>
  </nav>
  <nav class="owner">
      <div class="nav_title">
          <span class="fr" (click)="close('owner')"></span>
          <span class="title">{{str2}}</span>
      </div>
      <ul>
          <li *ngFor="let owner of owners" data-value={{owner.id}} [ngClass]="{active: owner.active}" >
            {{owner.title}}
          </li>
      </ul>
  </nav>
</div>