.item{ margin-bottom: 10px; background: #fff; overflow: hidden; zoom: 1;}
.item .wen{ margin-left: 150px;}
.item .jixin{ padding: 12px;}
.item .title{ color: #4e4e4e; font-size:14px ;}
.item .author{    color: #b6b6b6;font-size: 10px;margin-top: 1px;}
.item .di { color:#929292;padding: 8px 10px;border-top: #f2f2f2 .8px solid;height: 20px;line-height: 20px;font-size: 11px; overflow: hidden; zoom: 1;}
.list{overflow-x: hidden;overflow-y: auto;height: -webkit-calc(100% - 90px);height: -moz-calc(100% - 90px);height: -o-calc(100% - 90px);height:calc(100% - 90px);}
.item .count span{display: inline-block;overflow: hidden;background: url(../../assets/images/icon_32x32.png) no-repeat;background-size: 64px 64px; width:16px; height: 16px; vertical-align: middle; margin-right: 3px;}

nav{opacity:0;transition: all 0.4s;position: fixed;left: -100%;top: 0; bottom:0;right:0;width: 100%;height: 100%;    background: rgba(0,0,0,0.9); color: #999}
.nav_title{ text-align: center; font-size: 16px; line-height: 50px;}
.nav_title span.fr{display: inline-block;overflow: hidden;width: 16px; margin: 17px 22px; height:16px;background: url(../../assets/images/icon_32x32.png) no-repeat -16px -48px;background-size: 64px 64px;}
nav>ul{height: 44px;line-height: 44px;text-indent: 40px;color: #8d8d8d;border-bottom: #1a1a1b .8px solid;cursor: pointer;font-size: 14px;}
nav>ul ul{padding-left: 20px;}
nav .active{color:#fff;}
nav .active li{color:#8d8d8d}
nav.open{left:0; transition: all 0.4s; opacity: 1;}

.list .tishi{ background:#fff; text-align: center;  line-height: 200px;}





