/* You can add global styles to this file, and also import other style files */
@charset "utf-8";
body,div,p,span,a,img,input,h1,h2,h3,h4,ul,li,dl,dt,dd,ol,textarea{ margin:0; padding:0; border:0; list-style:none;}
body{  font-family:"microsoft yahei",Verdana, Geneva, sans-serif; color:#666; background:#fff; width:100%; height: 100%;}
input,textarea,select{box-shadow:none;-webkit-box-shadow:none;-o-box-shadow:none;-moz-box-shadow:none;}
a{ cursor:pointer; color:#666; text-decoration:none;border:none;-webkit-tap-highlight-color: rgba(0,0,0,0);-webkit-tap-highlight-color:transparent;outline:none；}
a:hover{ text-decoration:none;color:#666;}
.fl{ float:left;}
.fr{ float:right;}
.img_block{display: block; width: 100%; height: auto;}
.bluebut{ background:#1996d5; cursor:pointer; color:#fff; border-radius: 21px; padding:0 50px;}
.bluebut:hover{background:#1c9fe1; color:#fff;}
.bluekongbut{ border:1px solid #1996d5; border-radius: 21px; width:3.99rem; height:0.64rem; line-height:0.64rem;
text-align:center; font-size:0.32rem; color:#1996d5; display:block; margin:0.48rem auto;}
input[type=button], input[type=submit], input[type=file], input[type=reset], button{cursor:pointer;-webkit-appearance:none; outline:none;
font-family:"microsoft yahei",Verdana, Geneva, sans-serif; color:#666; } 
.clear{clear: both;}
.clearfix:after{content: ".";display: block;height: 0;clear: both;visibility: hidden}
.clearfix{*+height:1%;}
input:focus{box-shadow:0 0 4px #1996d5;outline:none;}


header{height:50px; background: #323436;padding:0 15px;}
header .logo{ margin: 0 auto; display:block; padding-top: 10px; width: 94px;}
header .tiao{ padding-top:8px;}
header .tiao span{height: 1px; width:30px; background: #999999;display: inline-block; line-height: 0}
header .tiao>div{ line-height: 0; padding:4px 0;}
.login a{ background: url(../images/icon.png) no-repeat -30px -60px; width: 30px; height: 30px; background-size:60px 120px; display: block  }
.login{padding-top:8px;}

.container{ background:#f6f9fa;}
.shai{height:40px; width: 100%; background: #fff; margin-bottom: 10px;}
.shai li{float: left; width: 33.3333%; text-align: center; line-height: 40px; font-size: 14px; }
.shai li .jiao{background: url(../images/icon_32x32.png) no-repeat -48px -0px ; vertical-align: middle; margin: 0 9px; background-size: 64px 64px; display: inline-block;  width: 16px; height: 16px;}

html,body{height: 100%;width: 100%;}
.listdetail .content img{ display:block; width:100%; height: auto;}